@mixin containerSettings($maxWidth, $background, $color) {
    max-width: $maxWidth;
    padding: 1em;
    margin: 5px auto;
    color: $color;
    background: $background;
    border-radius: 20px;
    overflow: auto;
}