@import "variables";
@import "mixins";
@import "base";
.container {
    @include containerSettings(960px, #ffffff, #000000);
}

header {
    margin-bottom: 20px;
    h4 {
        font-size: $largefont *.35;
        text-align: center;
    }
}

ul {
    list-style: square;
}

h1 {
    font-size: $largefont;
}

h2 {
    font-size: $largefont *.9;
}

h3 {
    font-size: $largefont *.7;
}

h4 {
    font-size: $largefont *.6;
}

h5 {
    font-size: $largefont *.45;
}

h1,
h2,
h3,
h4,
h5,
em,
th {
    color: $purple;
    margin: 0;
}

hr {
    margin-top: 2px;
    margin-bottom: 10px;
    border-color: $purple;
    border-width: 2.5px;
}

p {
    padding-left: 15px;
}

h1 {
    text-align: center;
}

th {
    width: 50%;
}

td {
    vertical-align: top;
    ul {
        list-style: none;
    }
}

li {
    margin: 6px 5px;
}


/*                 links                    */

a {
    color: $darkgold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $darkgreen;
}

a:visited {
    color: $darkgreen;
}

.lefthead {
    float: left;
}

.righthead {
    float: right;
    text-align: right;
    font-weight: 600;
}

.fresh {
    clear: both;
}